{:db {:adapter       "mysql"
      :server-name   "192.168.99.100"
      :port-number   32776
      :username      "root"
      :password      "123"
      :database-name "magento"
      ; :database-name "magento-migrations"
      :read-only     true}}
